In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
df = pd.read_excel('db/Ecuador_FF_SAND.xlsm', sheet_name='Parameters')

In [3]:
df

,Parameter,REGION,TECHNOLOGY,EMISSION,MODE_OF_OPERATION,FUEL,TIMESLICE,STORAGE,REGION2,Time indipendent variables,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,OIL,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,BIO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,COA,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,LFO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,NGS,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48751,YearSplit,NaN,NaN,NaN,NaN,NaN,S420,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48752,YearSplit,NaN,NaN,NaN,NaN,NaN,S421,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48753,YearSplit,NaN,NaN,NaN,NaN,NaN,S422,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48754,YearSplit,NaN,NaN,NaN,NaN,NaN,S423,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48755,YearSplit,NaN,NaN,NaN,NaN,NaN,S424,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417

In [4]:
sets = {
    'emission': [value for value in df['EMISSION'].unique() if type(value) != float],
    'region': [value for value in df['REGION'].unique() if type(value) != float],
    'mode_of_operation': [value for value in df['MODE_OF_OPERATION'].unique() if str(value) != 'nan'],
    'fuel': [value for value in df['FUEL'].unique() if type(value) != float],
    'storage': None,
    'technology': [value for value in df['TECHNOLOGY'].unique() if type(value) != float],
    'year': list(df.columns[10:]),
    'timeslice': [value for value in df['TIMESLICE'].unique() if type(value) != float],
}

In [5]:
set_str = ''

In [6]:
for set in sets.keys():
    txt = ''
    try:
        for value in sets[set]:
            txt += value + ' '
    except:
        pass
    txt += ';'
    set_str += f'set {set.upper()} := {txt}\n'
    # print(f"set {set.upper()} := {txt}")
print(set_str)

set EMISSION := EMIC02 EMICH4 EMIFGA EMIN2O EMIREN ;
set REGION := RE1 ;
set MODE_OF_OPERATION := ;
set FUEL := OIL BIO COA LFO NGS HFO SOL HYD WND URN GEO ELC001 ELC002 ELC003 ELCEV TRAMCY TRACAR TRABUS INDELC INDHEH INDHEL RESELC RESCKN RESHEL COMELC COMHEL COM027 COM028 COM029 COM030 COM031 COM032 COM033 COM034 COM035 COM036 COM037 COM038 COM039 COM040 COM041 COM042 COM043 COM044 COM045 COM046 COM047 COM048 COM049 COM050 ;
set STORAGE := ;
set TECHNOLOGY := IMPOIL MINOIL IMPBIO MINBIO IMPCOA MINCOA IMPLFO IMPHFO UPSREF001 UPSREF002 IMPNGS MINNGS MINSOL MINWND IMPURN MINURN MINGEO MINHYD PWRBIO001 PWRCOA001 TEC021 PWRGEO PWROHC001 PWROHC002 PWRNGS001 PWRNGS002 PWRSOL001 TEC027 PWRCSP002 PWRHYD001 PWRHYD002 PWRHYD003 PWRWND001 PWRWND002 PWRNUC PWRSOL001S PWRWND001S PWRTRNIMP BACKSTOP001 PWRTRN PWRDIST PWROHC003 PWRSOL002 PWRHYD004 PWRTRNEXP BACKSTOP002 DEMTRAEVC DEMTRAMCYELC DEMTRACARELC DEMTRABUSELC DEMTRAMCYGSL DEMTRACARGSL DEMTRABUSGSL DEMINDELC INDENEFFGD INDENEFFDP DEMINDHEEH DEMINDHEEL DEMINDHENGS DEMINDHEOIL DEMINDHEBIO DEMRESELC RESENEFFGD RESENEFFDP DEMRESCKNELC DEMRESCKNOIL DEMRESCKNBIO DEMRESHEBIO DEMRESHEOIL DEMRESHEEL DEMCOMELC COMENEFFGD COMENEFFDP DEMCOMHEOIL DEMCOMHEBIO DEMCOMHEEL BSTOPMCY BSTOPCAR BSTOPBUS BSTOPINDELC BSTOPINHEH BSTOPINDHEL BSTOPRESELC BSTOPRESCKN BSTOPRESHEL BSTOPCOMELC BSTOPCOMHEL DEMINDHECOA TEC088 TEC089 TEC090 TEC091 TEC092 TEC093 TEC094 TEC095 TEC096 TEC097 TEC098 TEC099 TEC100 TEC101 TEC102 TEC103 TEC104 TEC105 TEC106 TEC107 TEC108 TEC109 TEC110 TEC111 TEC112 TEC113 TEC114 TEC115 TEC116 TEC117 TEC118 TEC119 TEC120 TEC121 TEC122 TEC123 TEC124 TEC125 TEC126 TEC127 TEC128 TEC129 TEC130 TEC131 TEC132 TEC133 TEC134 TEC135 TEC136 TEC137 TEC138 TEC139 TEC140 TEC141 TEC142 TEC143 TEC144 TEC145 TEC146 TEC147 TEC148 TEC149 TEC150 TEC151 TEC152 TEC153 TEC154 TEC155 TEC156 TEC157 TEC158 TEC159 TEC160 TEC161 TEC162 TEC163 TEC164 TEC165 TEC166 TEC167 TEC168 TEC169 TEC170 TEC171 TEC172 TEC173 TEC174 TEC175 TEC176 TEC177 TEC178 TEC179 TEC180 TEC181 TEC182 TEC183 TEC184 TEC185 TEC186 TEC187 TEC188 TEC189 TEC190 TEC191 TEC192 TEC193 TEC194 TEC195 TEC196 TEC197 TEC198 ;
set YEAR := 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035 2036 2037 2038 2039 2040 2041 2042 2043 2044 2045 2046 2047 2048 2049 2050 2051 2052 2053 2054 2055 2056 2057 2058 2059 2060 2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 ;
set TIMESLICE := S101 S102 S103 S104 S105 S106 S107 S108 S109 S110 S111 S112 S113 S114 S115 S116 S117 S118 S119 S120 S121 S122 S123 S124 S201 S202 S203 S204 S205 S206 S207 S208 S209 S210 S211 S212 S213 S214 S215 S216 S217 S218 S219 S220 S221 S222 S223 S224 S301 S302 S303 S304 S305 S306 S307 S308 S309 S310 S311 S312 S313 S314 S315 S316 S317 S318 S319 S320 S321 S322 S323 S324 S401 S402 S403 S404 S405 S406 S407 S408 S409 S410 S411 S412 S413 S414 S415 S416 S417 S418 S419 S420 S421 S422 S423 S424 ;

In [7]:
parameters = {}
for par in df['Parameter'].unique():
    temp = df[df['Parameter'] == par].iloc[:, 1:]
    temp.dropna(axis=1,how='all', inplace=True)
    parameters[par]= temp

In [8]:
default_params = [par for par in df['Parameter'].unique()]
default_values = [0, 99999, 0, 1, 1, 0, 0, 0.0001, 1, 0.05, 0, 0, 0, 0, 99999, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
                 0, 0, 99999, 99999, 0, 0, 0, 99999, 0, 99999, 0, 0.0001, 0]
default_ref = list(range(len(default_params)))
default_ref_header = list(range(len(default_params)))

In [9]:
len(default_params), len(default_values), len(default_ref), len(default_ref_header)

(38, 38, 38, 38)

In [10]:
default_set_params = dict(zip(default_params, default_values))
default_set_ref = dict(zip(default_params, default_ref))
default_set_ref_header = dict(zip(default_params, default_ref_header))

In [16]:
default_txt = {par:None for par in df['Parameter'].unique()}

In [29]:
txt_param = ""
for param in default_set_params.keys():
    txt_temp = f"param {param} deafult {default_set_params[param]} := \n "
    try:
        ref = {key: sets[key.lower()]for key in list(parameters[param].columns[:-56])}
    except:
        pass
    if len(ref.keys()) == 2:
        for rg in ref['REGION']:
            txt_temp += f"[{rg},*,*]:\n "
            temp_df = parameters[param]
            temp_df = temp_df[temp_df['REGION'] == rg]
            years = temp_df.columns[len(ref.keys()):]
            for y in years:
               txt_temp += f"{y} "
            txt_temp += ':=\n '
            for _, row in temp_df.iterrows():
                for reg in row[len(ref.keys()) - 1:].values:
                    txt_temp += f"{reg} "
                txt_temp += '\n '
            txt_temp += ';\n'
    elif len(ref.keys()) == 0:
        txt_temp += ";\n "
    elif len(ref.keys()) == 3:
        for rg in ref['REGION']:
            temp_df = parameters[param]
            temp_df = temp_df[temp_df['REGION'] == rg]
    txt_param += f"{txt_temp}\n"
    default_txt[param] = txt_temp

In [ ]:
total_params = "param ResultsPath := "C:\Users\Carla\Desktop\Runs\2020\UN\CLEWSO\2B\res\csv";\n"

In [76]:
for par in parameters.keys():
    print(par, np.array(parameters[par].columns[:-56]))

AccumulatedAnnualDemand ['REGION' 'FUEL']
AnnualEmissionLimit ['REGION' 'EMISSION']
AnnualExogenousEmission ['REGION' 'EMISSION']
AvailabilityFactor ['REGION' 'TECHNOLOGY']
CapacityFactor ['REGION' 'TECHNOLOGY' 'TIMESLICE']
CapacityOfOneTechnologyUnit ['REGION' 'TECHNOLOGY']
CapacityToActivityUnit []
CapitalCost ['REGION' 'TECHNOLOGY']
DepreciationMethod []
DiscountRate []
EmissionActivityRatio ['REGION' 'TECHNOLOGY' 'EMISSION' 'MODE_OF_OPERATION']
EmissionsPenalty ['REGION' 'EMISSION']
FixedCost ['REGION' 'TECHNOLOGY']
InputActivityRatio ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION' 'FUEL']
ModelPeriodEmissionLimit []
ModelPeriodExogenousEmission []
OperationalLife []
OutputActivityRatio ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION' 'FUEL']
REMinProductionTarget ['REGION']
RETagFuel ['REGION' 'FUEL']
RETagTechnology ['REGION' 'TECHNOLOGY']
ReserveMargin ['REGION']
ReserveMarginTagFuel ['REGION' 'FUEL']
ReserveMarginTagTechnology ['REGION' 'TECHNOLOGY']
ResidualCapacity ['REGION' 'TECHNOLOGY']
SpecifiedAnnualDemand ['REGION' 'FUEL']
SpecifiedDemandProfile ['REGION' 'FUEL' 'TIMESLICE']
TotalAnnualMaxCapacity ['REGION' 'TECHNOLOGY']
TotalAnnualMaxCapacityInvestment ['REGION' 'TECHNOLOGY']
TotalAnnualMinCapacity ['REGION' 'TECHNOLOGY']
TotalAnnualMinCapacityInvestment ['REGION' 'TECHNOLOGY']
TotalTechnologyAnnualActivityLowerLimit ['REGION' 'TECHNOLOGY']
TotalTechnologyAnnualActivityUpperLimit ['REGION' 'TECHNOLOGY']
TotalTechnologyModelPeriodActivityLowerLimit []
TotalTechnologyModelPeriodActivityUpperLimit []
TradeRoute ['REGION' 'FUEL' 'REGION2']
VariableCost ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION']
YearSplit ['TIMESLICE']

In [27]:
temp_df = parameters['CapacityFactor']
temp_df
# temp_df1 = temp_df[temp_df['REGION'] == 'RE1'].iloc[:, 1:]
# temp_df1.loc[temp_df1['FUEL'] == 'OIL']

,REGION,TECHNOLOGY,TIMESLICE,2015,2016,2017,2018,2019,2020,2021,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
259,RE1,IMPOIL,S101,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
260,RE1,IMPOIL,S102,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
261,RE1,IMPOIL,S103,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
262,RE1,IMPOIL,S104,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
263,RE1,IMPOIL,S105,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19358,RE1,TEC198,S420,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19359,RE1,TEC198,S421,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19360,RE1,TEC198,S422,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19361,RE1,TEC198,S423,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19362,RE1,TEC198,S424,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0