In [18]:
# !pip install openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm

In [19]:
def mkdir_if_not_exists(default_save_path: str):
    """
    Make directory if not exists by a folder path
    :param default_save_path: str() -> path to create the folder
    :return: None
    """

    if not os.path.exists(default_save_path):
        os.mkdir(default_save_path)

In [4]:
df = pd.read_excel('db/Ecuador_FF_SAND.xlsm', sheet_name='Parameters')

In [5]:
df

,Parameter,REGION,TECHNOLOGY,EMISSION,MODE_OF_OPERATION,FUEL,TIMESLICE,STORAGE,REGION2,Time indipendent variables,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,OIL,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,BIO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,COA,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,LFO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,AccumulatedAnnualDemand,RE1,NaN,NaN,NaN,NGS,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48751,YearSplit,NaN,NaN,NaN,NaN,NaN,S420,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48752,YearSplit,NaN,NaN,NaN,NaN,NaN,S421,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48753,YearSplit,NaN,NaN,NaN,NaN,NaN,S422,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48754,YearSplit,NaN,NaN,NaN,NaN,NaN,S423,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
48755,YearSplit,NaN,NaN,NaN,NaN,NaN,S424,NaN,NaN,NaN,...,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417

In [6]:
sets = {
    'emission': [value for value in df['EMISSION'].unique() if type(value) != float],
    'region': [value for value in df['REGION'].unique() if type(value) != float],
    'mode_of_operation': [value for value in df['MODE_OF_OPERATION'].unique() if str(value) != 'nan'],
    'fuel': [value for value in df['FUEL'].unique() if type(value) != float],
    'storage': None,
    'technology': [value for value in df['TECHNOLOGY'].unique() if type(value) != float],
    'year': list(df.columns[10:]),
    'timeslice': [value for value in df['TIMESLICE'].unique() if type(value) != float],
}

In [7]:
set_str = ''

In [20]:
for set in sets.keys():
    txt = ''
    try:
        for value in sets[set]:
            txt += value + ' '
    except:
        pass
    txt += ';'
    set_str += f'set {set.upper()} := {txt}\n'
    # print(f"set {set.upper()} := {txt}")
mkdir_if_not_exists("etc/")
with open("etc/sets_block.txt", 'w') as file:
    file.write(set_str)
    file.close()

In [9]:
parameters = {}
for par in df['Parameter'].unique():
    temp = df[df['Parameter'] == par].iloc[:, 1:]
    temp.dropna(axis=1,how='all', inplace=True)
    parameters[par]= temp

In [12]:
default_params = [par for par in df['Parameter'].unique()]
default_values = [0, 99999, 0, 1, 1, 0, 0, 0.0001, 1, 0.05, 0, 0, 0, 0, 99999, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
                 0, 0, 99999, 99999, 0, 0, 0, 99999, 0, 99999, 0, 0.0001, 0]

In [13]:
len(default_params), len(default_values)

(38, 38)

In [15]:
default_set_params = dict(zip(default_params, default_values))
default_set_params

{'AccumulatedAnnualDemand': 0,
 'AnnualEmissionLimit': 99999,
 'AnnualExogenousEmission': 0,
 'AvailabilityFactor': 1,
 'CapacityFactor': 1,
 'CapacityOfOneTechnologyUnit': 0,
 'CapacityToActivityUnit': 0,
 'CapitalCost': 0.0001,
 'DepreciationMethod': 1,
 'DiscountRate': 0.05,
 'EmissionActivityRatio': 0,
 'EmissionsPenalty': 0,
 'FixedCost': 0,
 'InputActivityRatio': 0,
 'ModelPeriodEmissionLimit': 99999,
 'ModelPeriodExogenousEmission': 0,
 'OperationalLife': 1,
 'OutputActivityRatio': 0,
 'REMinProductionTarget': 0,
 'RETagFuel': 0,
 'RETagTechnology': 0,
 'ReserveMargin': 0,
 'ReserveMarginTagFuel': 0,
 'ReserveMarginTagTechnology': 0,
 'ResidualCapacity': 0,
 'SpecifiedAnnualDemand': 0,
 'SpecifiedDemandProfile': 0,
 'TotalAnnualMaxCapacity': 99999,
 'TotalAnnualMaxCapacityInvestment': 99999,
 'TotalAnnualMinCapacity': 0,
 'TotalAnnualMinCapacityInvestment': 0,
 'TotalTechnologyAnnualActivityLowerLimit': 0,
 'TotalTechnologyAnnualActivityUpperLimit': 99999,
 'TotalTechnologyModelPeriodActivityLowerLimit': 0,
 'TotalTechnologyModelPeriodActivityUpperLimit': 99999,
 'TradeRoute': 0,
 'VariableCost': 0.0001,
 'YearSplit': 0}

In [17]:
default_txt = {par:None for par in df['Parameter'].unique()}

{'AccumulatedAnnualDemand': None,
 'AnnualEmissionLimit': None,
 'AnnualExogenousEmission': None,
 'AvailabilityFactor': None,
 'CapacityFactor': None,
 'CapacityOfOneTechnologyUnit': None,
 'CapacityToActivityUnit': None,
 'CapitalCost': None,
 'DepreciationMethod': None,
 'DiscountRate': None,
 'EmissionActivityRatio': None,
 'EmissionsPenalty': None,
 'FixedCost': None,
 'InputActivityRatio': None,
 'ModelPeriodEmissionLimit': None,
 'ModelPeriodExogenousEmission': None,
 'OperationalLife': None,
 'OutputActivityRatio': None,
 'REMinProductionTarget': None,
 'RETagFuel': None,
 'RETagTechnology': None,
 'ReserveMargin': None,
 'ReserveMarginTagFuel': None,
 'ReserveMarginTagTechnology': None,
 'ResidualCapacity': None,
 'SpecifiedAnnualDemand': None,
 'SpecifiedDemandProfile': None,
 'TotalAnnualMaxCapacity': None,
 'TotalAnnualMaxCapacityInvestment': None,
 'TotalAnnualMinCapacity': None,
 'TotalAnnualMinCapacityInvestment': None,
 'TotalTechnologyAnnualActivityLowerLimit': None,
 'TotalTechnologyAnnualActivityUpperLimit': None,
 'TotalTechnologyModelPeriodActivityLowerLimit': None,
 'TotalTechnologyModelPeriodActivityUpperLimit': None,
 'TradeRoute': None,
 'VariableCost': None,
 'YearSplit': None}

In [29]:
txt_param = ""
for param in default_set_params.keys():
    txt_temp = f"param {param} deafult {default_set_params[param]} := \n "
    try:
        ref = {key: sets[key.lower()]for key in list(parameters[param].columns[:-56])}
    except:
        pass
    if len(ref.keys()) == 2:
        for rg in ref['REGION']:
            txt_temp += f"[{rg},*,*]:\n "
            temp_df = parameters[param]
            temp_df = temp_df[temp_df['REGION'] == rg]
            years = temp_df.columns[len(ref.keys()):]
            for y in years:
               txt_temp += f"{y} "
            txt_temp += ':=\n '
            for _, row in temp_df.iterrows():
                for reg in row[len(ref.keys()) - 1:].values:
                    txt_temp += f"{reg} "
                txt_temp += '\n '
            txt_temp += ';\n'
    elif len(ref.keys()) == 0:
        txt_temp += ";\n "
    elif len(ref.keys()) == 3:
        for rg in ref['REGION']:
            temp_df = parameters[param]
            temp_df = temp_df[temp_df['REGION'] == rg]
    txt_param += f"{txt_temp}\n"
    default_txt[param] = txt_temp

In [ ]:
total_params = "param ResultsPath := "C:\Users\Carla\Desktop\Runs\2020\UN\CLEWSO\2B\res\csv";\n"

In [76]:
for par in parameters.keys():
    print(par, np.array(parameters[par].columns[:-56]))

AccumulatedAnnualDemand ['REGION' 'FUEL']
AnnualEmissionLimit ['REGION' 'EMISSION']
AnnualExogenousEmission ['REGION' 'EMISSION']
AvailabilityFactor ['REGION' 'TECHNOLOGY']
CapacityFactor ['REGION' 'TECHNOLOGY' 'TIMESLICE']
CapacityOfOneTechnologyUnit ['REGION' 'TECHNOLOGY']
CapacityToActivityUnit []
CapitalCost ['REGION' 'TECHNOLOGY']
DepreciationMethod []
DiscountRate []
EmissionActivityRatio ['REGION' 'TECHNOLOGY' 'EMISSION' 'MODE_OF_OPERATION']
EmissionsPenalty ['REGION' 'EMISSION']
FixedCost ['REGION' 'TECHNOLOGY']
InputActivityRatio ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION' 'FUEL']
ModelPeriodEmissionLimit []
ModelPeriodExogenousEmission []
OperationalLife []
OutputActivityRatio ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION' 'FUEL']
REMinProductionTarget ['REGION']
RETagFuel ['REGION' 'FUEL']
RETagTechnology ['REGION' 'TECHNOLOGY']
ReserveMargin ['REGION']
ReserveMarginTagFuel ['REGION' 'FUEL']
ReserveMarginTagTechnology ['REGION' 'TECHNOLOGY']
ResidualCapacity ['REGION' 'TECHNOLOGY']
SpecifiedAnnualDemand ['REGION' 'FUEL']
SpecifiedDemandProfile ['REGION' 'FUEL' 'TIMESLICE']
TotalAnnualMaxCapacity ['REGION' 'TECHNOLOGY']
TotalAnnualMaxCapacityInvestment ['REGION' 'TECHNOLOGY']
TotalAnnualMinCapacity ['REGION' 'TECHNOLOGY']
TotalAnnualMinCapacityInvestment ['REGION' 'TECHNOLOGY']
TotalTechnologyAnnualActivityLowerLimit ['REGION' 'TECHNOLOGY']
TotalTechnologyAnnualActivityUpperLimit ['REGION' 'TECHNOLOGY']
TotalTechnologyModelPeriodActivityLowerLimit []
TotalTechnologyModelPeriodActivityUpperLimit []
TradeRoute ['REGION' 'FUEL' 'REGION2']
VariableCost ['REGION' 'TECHNOLOGY' 'MODE_OF_OPERATION']
YearSplit ['TIMESLICE']

In [27]:
temp_df = parameters['CapacityFactor']
temp_df
# temp_df1 = temp_df[temp_df['REGION'] == 'RE1'].iloc[:, 1:]
# temp_df1.loc[temp_df1['FUEL'] == 'OIL']

,REGION,TECHNOLOGY,TIMESLICE,2015,2016,2017,2018,2019,2020,2021,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
259,RE1,IMPOIL,S101,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
260,RE1,IMPOIL,S102,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
261,RE1,IMPOIL,S103,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
262,RE1,IMPOIL,S104,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
263,RE1,IMPOIL,S105,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19358,RE1,TEC198,S420,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19359,RE1,TEC198,S421,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19360,RE1,TEC198,S422,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19361,RE1,TEC198,S423,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19362,RE1,TEC198,S424,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0